<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Checkout</title>
    <script src="https://kit.fontawesome.com/05853edf68.js" crossorigin="anonymous"></script>
    <!-- Required meta tags always come first -->
 
    <!--Font Awesome-->

    <!-- <link rel="stylesheet" type="text/css" href="/cart_ejs_folder/add_cart.css"> -->
    <link rel="stylesheet" type="text/css" href="/nav.css">
    <link rel="stylesheet" type="text/css" href="/checkout_ejs/css/main.css">
      

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/checkout_ejs/css/font-awesome/css/font-awesome.min.css" /> -->
   <!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
    <!-- Custom CSS -->
    
    <link rel="shortcut icon" href="/logo1.png" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/cart_ejs_folder/add_cart.css">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">


   
</head>


<body   style="background-color: white;">



   <!--  <script
    src="https://www.paypal.com/sdk/js?client-id=AWNpqdTIYEeLLEqj0GBzp1TvGwONMmOH0TYIs7B7qYZV78AFHgCKew3j8EHWv5ysKJ83tkz9QXh9JGla"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
  </script>

  <div id="paypal-button-container"></div> -->




<!--   <script>
    paypal.Buttons().render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
  </script>

  <script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '0.01'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            orderID: data.orderID
          })
        });
      });
    }
  }).render('#paypal-button-container');
</script> -->
    <!-- <div class="loader"></div> -->
 <!-- 
    <header id="header">
        <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
            <div class="container">
                <a class="navbar-brand" href="D:\downloads\scarfistry22\scarfistry\home.html" id="header-logo">
                    <img src="logo1.png" class="img-fluid" width="100"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-center"> -->
                       <!--  <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li> -->

                      <!--   <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\scarfistry\gallery.html">Gallery</a>
                        </li>
 -->
                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html">Shop</a>
                        </li> -->
                      <!--   <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html""><i class="fas fa-shopping-cart"></i></a>
                        </li>
                        <li class="nav-item mr-md-3">
                            <a class="nav-link text-dark" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header> -->
    <div class="topnav" style=" padding-top:5px; margin-top:-5px; background-color:  #1e4240 ;" >
  <img src="/cart_ejs_folder/media/sign2.png" width="20%" height="25%" style="padding-bottom: 20px; padding-left: 2.5%; padding-top: 10px; margin-right:20%; ">

  
 <div class="nav" id="myTopnav"style="float: right; padding-right: 5%;padding-top: 1%;" >
    
    <a href="/home" style="color: white">HOME</a>
    <div class="dropdown"> <button class="btn" href="#shop.html">SHOP</button> 
        
  <div  class="dropdown-content" style="background-color: #1e4240;">
    
    <a href="/paintings">PAINTINGS</a>
    <a href="/scarves">SCARVES</a>
    <a href="/tshirts">T-SHIRTS</a>
    <a href="/customise">CUSTOMIZE</a>
    </div>


</div>

<a href="/contact" style="color: white">CONTACT</a>
  
   <a href="#" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
    
 
</div>

<!--  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="D:\downloads\scarfistry22\scarfistry\home.html" id="header-logo">
                    <img src="logo1.png" class="img-fluid" width="100"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-center"> -->


                       <!--  <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li> -->


                       <!--  <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\scarfistry\gallery.html">Gallery</a>
                        </li> -->

                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html">Shop</a>
                        </li> -->


<!-- 
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html""><i class="fas fa-store"></i></a>
                        </li>
                        <li class="nav-item mr-md-3">
                            <a class="nav-link text-dark" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                         
                    </ul>
                
            </div> -->
           
                
             
            
           
        <!-- </nav> -->
    <!-- </div> -->
    <!-- <a href="https://www.yyprojects.online/espacedesign">   <img class="site-logo"  src="logo1.png" style="width:8%;height:50%;"></a>


        <div class="nav-switch">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="about.html">Shop</a></li>
                <li><a href="portfolio.html">Gallery/About</a></li>
                <li><a href="D:\downloads\scarfistry22\checkout-plus-master\checkout-plus-master\index.html"><h4 class="changecolor"></h4></ -->
                    <!-- a></li> -->

                    <!-- <li><a href="login/index.html"><h4 class="changecolor">Login</h4></a></li> -->
            <!-- </ul>
        </nav> -->
    <!-- </div> -->
    
    
   <h1 style="font-size: 40px;text-align: center;background-color:RGB(125,204,173); font-family: 'EB Garamond', serif;">Checkout </h1>
  
  
    <main id="main" role="main"  >
        <%if (messages.success){%>
   <div class="success">
       <%=messages.success%>
   </div>
   <%}%>

        <section id="checkout-container" style="background-color: white; ">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-4 order-md-2 mb-4 space" >  
                     <!-- style="right: -15%;" -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3" >
                            <!-- <span class="text-muted" >Your cart</span>  -->
                            <!-- style="right: -10%;" -->
                             <!-- <span class="badge badge-secondary badge-pill" style="background-color: RGB(125,204,173);">0</span>  -->
                        </h4>
                                 <% if(bag){%>
                                 <% var len = bag.length %>
                                
                        <ul class="list-group mb-3" style="margin-left: 10%;">
                            <% for(var i=0 ;i< len ;i++){%>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0"><%=bag[i].item.name%></h6>
                                    <!-- <i class="fas fa-minus"></i> -->
                                   <span class="badge badge-secondary badge-pill" style="background-color: RGB(125,204,173);"><%=bag[i].qty%></span>
                                  <!--  <i class="fas fa-plus "></i> -->
                                     <span class="text-muted"> <%=bag[i].size %></span>
                                     <br>   
                                     <span style="margin-left: 25%;" class="text-muted"> <%=bag[i].color %></span>
                                </div>
                                <img src= "<%= bag[i].item.imagepath%>" style="width: 15%; height: 15%; margin-left: 2%;" >
                                <div style="margin-top: 25px; right: 15%;position: absolute;"> <button onclick="window.location.href='/remove/<%=bag[i].item.name+bag[i].size+bag[i].color%>'" style="border: none; background-color: white;"> 
                                    <i class="far fa-trash-alt"  aria-hidden="true"></i>
                                </button></div>

                                <strong> <%=bag[i].price %> EGP</strong>
                                    
                                
                                
                            </li>
                           <% } %>
                           <li class="list-group-item d-flex justify-content-between">
                                <span>Total </span>
                                <strong><%=price%> EGP</strong>


                            </li> 

                        </ul>

                        <% } %> 

                        <% if(!bag){%>
                         <ul class="list-group mb-3" style="margin-left: 10%;">
                            
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <span class="text-muted"> Your cart is empty</span>
                                  
                                </div>
                                
                            </li>
                           
                          
                        </ul>


                         <% } %> 
                       <!--  <form class="card p-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Promo code">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">Redeem</button>
                                </div>
                            </div>
                        </form> -->
                     
                    </div>
                    <div class="col-md-8 order-md-1"  id="checkform" >  
                        <!-- style="margin-left: -7%;" -->
                        <!-- <h4 class="mb-3">Checkout</h4> -->
                        <form class="needs-validation" novalidate action="/order" method="post">
                            <div class="mb-3">
                                <!-- <div class="col-md-6 mb-3"> -->
                                    <label for="firstName">Full name</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="name">
                                    <div class="invalid-feedback">
                                        Valid name is required.
                                    </div>
                                <!-- </div> -->
                               
                            </div>

                         

                            <div class="mb-3">
                                <label for="email">Email
                                    
                                </label>
                                <input type="email" class="form-control" id="email"  value="" required name="email">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                             <div class="mb-3">
                                <label for="phone">Phone
                                    
                                </label>
                                <input type="text" class="form-control"   value="" required name="phone">
                                <div class="invalid-feedback">
                                    Please enter your phone number.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address"  required name="address">
                                <div class="invalid-feedback">
                                    Please enter your shipping address.
                                </div>
                            </div>

                         

                            <div class="row">
                               
                                <div class="col-md-4 mb-3">
                                    <label for="state">Region</label>
                                    <select class="custom-select d-block w-100" id="state" required name="region">
                                        <option value="">Choose...</option>
                                        <option>Nasrcity</option>
                                         <option>Helioplies</option>
                                          <option>Tagamo3</option>
                                           <option>Madinaty</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please choose a region.
                                    </div>
                                </div>
                               
                            </div>
                           <!--  <hr class="mb-4">
                          
                            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">Save this information for next time</label>
                            </div>
                            <hr class="mb-4"> -->
                           
                           
                            <!-- <hr class="mb-4"> -->
                            <button class="btn btn-primary btn-lg btn-block" type="submit" style="background-color:  RGB(125,204,173);">
                                 Order </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>


            <script>

                
    
// When the user scrolls the page, execute myFunction 


    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}

</script>
       
       <!--  <a href="#" class="btn btn-primary scrollUp">
            <i class="fa fa-arrow-circle-o-up"></i>
        </a> -->
    </main>

    <!-- Footer -->
    <!--  -->
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/checkout_ejs/dist/jquery/jquery.min.js"></script>
    <script src="/checkout_ejs/dist/popper/popper.min.js" integrity=""></script>
    <script src="/checkout_ejs/dist/bootstrap/js/bootstrap.min.js"></script>
    <script src="/checkout_ejs/js/main.min.js"></script>
    <script src="/cart_ejs_folder/js/jquery-2.1.4.js"></script>
    <script src="/cart_ejs_folder/js/main.js"></script> <!-- Resource jQuery -->
</body>

</html>