<!doctype html>
<html lang="en" class="no-js">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	
<!--  <link rel="stylesheet" type="text/css" href="D:\downloads\scarfistry22\checkout-plus-master\checkout-plus-master\css\main.min.css">
	<link href='http://fonts.googleapis.com/css?family=Work+Sans:400,600,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="/scarves_caro.css">
	<link rel="stylesheet" href="/cart_ejs_folder/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/cart_ejs_folder/css/style.css"> <!-- Resource style -->
	<script src="/cart_ejs_folder/js/modernizr.js"></script> <!-- Modernizr -->
	<link rel="shortcut icon" href="/cart_ejs_folder/logo1.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="font-awesome.min.css"> -->
  	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
  <!-- 	<link rel="stylesheet" href="yy/bootstrap.min.css"/> -->
	
	


	    <!-- <link rel="stylesheet" href="dist/font-awesome/css/font-awesome.min.css" /> -->
    
    <!-- Custom CSS -->
   
    <!-- <link rel="shortcut icon" href="cart_ejs_folder/logo1.png" type="image/x-icon" /> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/cart_ejs_folder/add_cart.css">
	<link rel="stylesheet" type="text/css" href="/tmp.css">
    <script src="https://kit.fontawesome.com/05853edf68.js" crossorigin="anonymous"></script>
	
	<title>Scarves</title>
</head>

<body onload="myFunction2()">
	<!-- rgba(0, 0, 0, 0.08) -->
	<!-- #ede2e1 -->
	<!-- #e3d9d8 -->
	 <div class="topnav" style=" padding-top:5px; margin-top:-5px; background-color:  #1e4240 ; "id="navbar" >
  <img src="/cart_ejs_folder/media/sign2.png" width="20%" height="25%" style="padding-bottom: 20px; padding-left: 2.5%; padding-top: 10px; margin-right:20%; ">

  
 <div class="nav" id="myTopnav"style="float: right; padding-right: 5%;padding-top: 1%;" >
 	
 	<a href="/home" style="color: white">HOME</a>
 	<div class="dropdown"> <button class="btn" href="#shop.html">SHOP</button> 
 		
  <div style="background-color:  #1e4240 ;"  class="dropdown-content" >
    
    <a href="/paintings">PAINTINGS</a>
    <a href="/scarves">SCARVES</a>
    <a href="/tshirts">T-SHIRTS</a>
    <a href="/customise">CUSTOMIZE</a>
    </div>


</div>

<a href="/contact" style="color: white">CONTACT</a>
  
   <a href="#" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
 	
 
</div>

<!--  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="D:\downloads\scarfistry22\scarfistry\home.html" id="header-logo">
                    <img src="logo1.png" class="img-fluid" width="100"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-center"> -->


                       <!--  <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li> -->


                       <!--  <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\scarfistry\gallery.html">Gallery</a>
                        </li> -->

                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html">Shop</a>
                        </li> -->


<!-- 
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html""><i class="fas fa-store"></i></a>
                        </li>
                        <li class="nav-item mr-md-3">
                            <a class="nav-link text-dark" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                         
                    </ul>
                
            </div> -->
           
            	
            	 <a href="/check" class="cd-cart">

            	 <% if(totalQty>0){%>
            	 
				<span><%= totalQty %></span>

            	<%}%>

		
		
	</a>
            
           
        <!-- </nav> -->
    <!-- </div> -->
	<!-- <a href="https://www.yyprojects.online/espacedesign">	 <img class="site-logo"  src="logo1.png" style="width:8%;height:50%;"></a>


		<div class="nav-switch">
			<i class="fas fa-bars"></i>
		</div>
		<nav class="main-menu">
			<ul>
				<li><a href="about.html">Shop</a></li>
				<li><a href="portfolio.html">Gallery/About</a></li>
				<li><a href="D:\downloads\scarfistry22\checkout-plus-master\checkout-plus-master\index.html"><h4 class="changecolor"></h4></ -->
					<!-- a></li> -->

					<!-- <li><a href="login/index.html"><h4 class="changecolor">Login</h4></a></li> -->
			<!-- </ul>
		</nav> -->
	<!-- </div> -->
	
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- <img src="/brand.jpg" style="margin-left: 43%" width="180px">
	<br> -->

<!-- 	<div class="container">
  <div class="carousel">
    <div class="item a"></div>
    <div class="item b"></div>
    <div class="item c"></div>
    <div class="item d"></div>
    <div class="item e"></div>
    <div class="item f"></div>
  </div>
</div>
<div class="next">></div>
<div class="prev"><</div>
<br>
<br>
<br>
<br>
 -->
 <% var len = scarves.length %>
	<h1 style="font-family: 'EB Garamond', serif; "> Basic collection</h1>
	<ul class="cd-gallery">
		<% for(var i=0 ;i< 4 ;i++){%>
		<li>
			<div class="cd-single-item">

					  <div class="product">
      
        <div class="make3D">
            
               
                <div class="carousel">
                    <ul class="carousel-container">
                        
                        <li><img src="<%=scarves[i].imagepath%>" alt="" /></li>
                        <% if(scarves[i].image2!=="none"){%>
                        <li><img src="<%=scarves[i].image2%>"alt="" /></li>
                            <%}%>
                        
                    </ul>
                    <% if(scarves[i].image2!=="none"){%>
                    <div class="arrows-perspective">
                        <div class="carouselPrev">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                        <div class="carouselNext">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                    </div>
                     <%}%>
                </div>
           
        </div>  
    
			
				
   
				<form method="post" name="myForm"  id="tableForm" action="/addscarf/<%= scarves[i]._id %>" class="cd-customization"  >
					<!-- <div class="color selected-2" data-type="select">
						<ul>
							<li class="color-1">color-1</li>
							<li class="color-2 active">color-2</li>
							<li class="color-3">color-3</li>
						</ul>
					</div> -->
					
        
				

  
        

					<button     class="add-to-cart" style="margin-left: 25%;" >

						<em style="padding-left: 6%;">Add to Cart</em>
						<svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
							<path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
						</svg>
					</button>

   </div>
				</div> <!-- .cd-customization -->
</form>

				<!-- <button class="cd-customization-trigger">Customize</button> -->
			</div> <!-- .cd-single-item -->

			<div class="cd-item-info">
				<b><a href="#0" class="title"><%= scarves[i].name%></a></b>
				<em class="price"><%= scarves[i].price%> EGP</em>

			</div> <!-- cd-item-info -->

		</li>
<% } %>
</ul>
 
    <h1 style="font-family: 'EB Garamond', serif; padding-bottom: 1%;">Migratory species</h1>
    <ul class="cd-gallery">
        <% for(var i=4 ;i< len ;i++){%>
        <li>
            <div class="cd-single-item">

                      <div class="product">
      
        <div class="make3D">
            
               
                <div class="carousel">
                    <ul class="carousel-container">
                        
                        <li><img src="<%=scarves[i].imagepath%>" alt="" /></li>
                        <% if(scarves[i].image2!=="none"){%>
                        <li><img src="<%=scarves[i].image2%>"alt="" /></li>
                            <%}%>
                        
                    </ul>
                    <% if(scarves[i].image2!=="none"){%>
                    <div class="arrows-perspective">
                        <div class="carouselPrev">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                        <div class="carouselNext">
                            <div class="y"></div>
                            <div class="x"></div>
                        </div>
                    </div>
                     <%}%>
                </div>
           
        </div>  
    
            
                
   
                <form method="post" name="myForm"  id="tableForm" action="/addscarf/<%= scarves[i]._id %>" class="cd-customization"  >
                    <!-- <div class="color selected-2" data-type="select">
                        <ul>
                            <li class="color-1">color-1</li>
                            <li class="color-2 active">color-2</li>
                            <li class="color-3">color-3</li>
                        </ul>
                    </div> -->
                    
        
                

  
        

                    <button     class="add-to-cart" style="margin-left: 25%;" >

                        <em style="padding-left: 6%;">Add to Cart</em>
                        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                            <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                        </svg>
                    </button>

   </div>
                </div> <!-- .cd-customization -->
</form>

                <!-- <button class="cd-customization-trigger">Customize</button> -->
            </div> <!-- .cd-single-item -->

            <div class="cd-item-info">
                <b><a href="#0" class="title"><%= scarves[i].name%></a></b>
                <em class="price"><%= scarves[i].price%> EGP</em>

            </div> <!-- cd-item-info -->

        </li>
<% } %>
</ul>
<h1 style="font-family: 'EB Garamond', serif; padding-bottom: 1%;">Customized orders –price:550-850 </h1>
<br>
<br>

<div class="carousel-wrapper" class="caro">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <span id="item-4"></span>
  <div class="carousel-item item-1">
    <!-- <h2>Item 1</h2> -->
    
    <a class="arrow arrow-prev" href="#item-4"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>
  
  <div class="carousel-item item-2">
    <!-- <h2>Item 2</h2> -->
   
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>
  
  <div class="carousel-item item-3">
    <!-- <h2>Item 3</h2> -->
   
    <a class="arrow arrow-prev" href="#item-2"></a>
   
    <a class="arrow arrow-next" href="#item-4"></a>
  </div>

    <div class="carousel-item item-4">
    <!-- <h2>Item 3</h2> -->
   
    <a class="arrow arrow-prev" href="#item-3"></a>
   
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>

</div>
 <br>

<strong style=" font-family: 'EB Garamond', serif;" class="details"> * More details <a href="/customise">here</a></strong>
<br>
<br>
<style type="text/css">
    .details{
font-size: xx-large;
margin-left: 42%;

    }
@media (max-width: 980px) {
.details{

    font-size: x-large;
    margin-left: 35%;
    margin-bottom: 2%;
}
}

</style>


<script>

	
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction2()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction2() {
  if (window.pageYOffset > sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

	function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}

</script>

<!-- <script src="yy/jquery-3.2.1.min.js"></script>
	<script src="yy/bootstrap.min.js"></script>
	<script src="yy/main.js"></script> -->
	<!-- <script src="js/localstorage.js"></script> -->
<script src="/cart_ejs_folder/js/jquery-2.1.4.js"></script>
<script src="/cart_ejs_folder/js/main.js"></script> <!-- Resource jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/tmp1.js"></script>
</body>
</html>